body{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
#header{
    padding: 10px 0px;
    height: 100px;
}
h1 a{
    
    font-weight: 100;
    font-size: 50px;
    color:rgb(0, 53, 199);
    
}
#brand{
    float: left;
}

#search-box{
    float: right;
    background: linear-gradient(#235789,#CEE1F2);
    background: -webkit-linear-gradient(#235789,#CEE1F2);
    background: -o-linear-gradient(#235789,#CEE1F2);
    background: -moz-linear-gradient(#235789,#CEE1F2);
    padding: 20px;
    width: 400px;
    margin-top: 15px;
}

#search-text{
    float: left;
    padding: 5px;
    width: 250px;
    font-size: 15px;
    color: rgb(255, 0, 0);
    background: rgb(255, 255, 255)  url("../photos/search-logo.png") right center no-repeat;
    
}
.submit-button{
    float: right;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 5px;
    background: rgb(24, 24, 92);
    font-size: 15px;


}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
#menu{
    width: 100%;
    height: 100px;
    background: linear-gradient(#F1D302,#DB575B);
    background: -webkit-linear-gradient(#F1D302,#DB575B);
    background: -o-linear-gradient(#F1D302,#DB575B);
    background: -moz-linear-gradient(#F1D302,#DB575B);
}

ul{
    list-style: none;
    padding-top: 25px;
    
}
#menu ul li:last-child{
    border-right: none;
}
#menu ul li{
    float: left;
    padding: 0 20px;
    height: 30px;
    border-right: 1px solid black;
}
#menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    line-height: 30px;
  
}
ul li a{
    
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}
#menu ul li a:hover, #menu ul li a.active{
    font-size: 25px;
    font-weight: bold;
    color: blue;

}
#cover-content{
    margin-top: 25px;
    padding: 25px 60px;
    background: linear-gradient(#F1FFEB,#5CFF0A);
    background: -webkit-linear-gradient(#F1FFEB,#5CFF0A);
    background: -o-linear-gradient(#F1FFEB,#5CFF0A);
    background: -moz-linear-gradient(#F1FFEB,#5CFF0A);
    width: 880px;
    
}
#cover-heading{
    font-size: 25px;
}
#cover-paragraph{
    font-size: 20px;
    text-align: justify;
}

#content-box{
    padding-top: 20px;
}
.columns{
    width: 430px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(182, 255, 87) ;
    border-radius: 10px;
    height: 600px;
    padding: 25px 30px 0px 25px;
}
#first-column{
    float: left;
    
}
#second-column{
    float: right;
    
}
.columns a{
    
    color:rgb(98, 98, 207);
    font-size: 20px;
    
    
}


#first-column ul li{
    list-style-image: url('../photos/right.png');
    padding:2px;

}

#second-column ul li{
    background: white url('../photos/tick.png') left center no-repeat;
    padding:20px 10px 20px 40px;
}


.columns ul li a:hover{
    font-size: 25px;
    font-weight: bold;
    color: rgb(23, 243, 3);
}


#footer{
    height: 50px;
    width: 970px;
    padding: 10px 0px 15px 30px;
    background: linear-gradient(rgb(243, 240, 135),rgb(217, 216, 62));
    background: -webkit-linear-gradient(rgb(243, 240, 135),rgb(217, 216, 62));
    background: -o-linear-gradient(rgb(243, 240, 135),rgb(217, 216, 62));
    background: -moz-linear-gradient(rgb(243, 240, 135),rgb(217, 216, 62));
    
}
#footer h4{
    background:  url('../photos/eagleGazi.png') no-repeat left center;
    padding-left: 60px;
}
